@import "/src/assets/sass/base/functions";
@import "/src/assets/sass/base/mixins";
@import "/src/assets/sass/components/variables.demo";

.dark-modal{
  background: black!important;
}

:host {
  position: relative;
  display: block;
}

.inbox-margin-reset{
  margin-left: -1.3em;
  margin-right: -1.3em;
}

.card {
  padding: 15px;
  border-top: 1px solid #BECFDA;
  border-bottom: 1px solid #BECFDA;
  border-left: none;
  border-right: none;
  border-radius: 0;
  cursor: pointer;
}

.form-check {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 9;
  margin-left: 15px;

  [type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    -webkit-appearance: none;
    border: 1px solid #BECFDA;
    top: -2px;
    color: white;

    &:checked {
      background-color: $primary;
      display: block;
      font-size: 8px;
      font-weight: 600;
      padding: 3px;
      background: #002250;
      color: white;
    }
    &:focus {
      outline: 0;
    }
  }
}

label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.message-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1F2432;
}

.message-unread .message-title{
  font-weight: 700;
}

.message-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.show-select .message-row {
  margin-left:2em;
}

.message-icon {
  color: #1F2432;
}

.message-row small{
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.message-body {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.messageSubject, .message-body{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 2em;
}

small.message-subject,
small.message-date {
  color: #828282;
  font-size: 12px;
}

small.message-date {
  font-size: 11px!important;
}

.message-unread small.message-subject{
  font-weight: 600;
  color: #002250;
}
.message-unread small.message-date{
  color: #002250;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
