<div class="transparent-card">
  <div class="d-flex flex-column align-items-center text-center">
    <h1 class="mb-9 text-primary">Thank You!</h1>

    <h3 class="mb-10">
      Be on the lookout for an email from your assigned insurance professional.
      They will be able to provide you with quotes and answer any questions you
      have through a secure messaging portal or over phone.
    </h3>

    <button
      class="btn btn-primary btn-block-xs-only mb-10 text-uppercase"
      routerLink="/quote/landing"
    >
      Exit
    </button>
  </div>
</div>
