<div class="transparent-card">
  <div class="d-flex flex-column align-items-center text-center h-100">
    <div class="py-0 px-10 d-flex flex-column">
      <app-body-logo class="big mb-9"></app-body-logo>

      <h1 class="mb-9">
        Innovative Health Coverage tailored to your individual needs
      </h1>

      <h3 class="mb-6 text-secondary">
        Get a personalized health coverage quote today! Let’s get started.
      </h3>

      <button
        class="btn btn-danger btn-block-xs-only mb-6 text-uppercase"
        routerLink="/quote/connect"
      >
        Get a quote!
      </button>

      <app-horizontal-line></app-horizontal-line>
    </div>

    <img class="landing-bg mt-auto" src="./assets/media/bg/quote-bg.png" alt="" />
  </div>
</div>
