.fullscreen-modal,
.fullscreen-modal .modal-dialog,
.fullscreen-modal .modal-dialog .modal-content {
  height: 100%;
  width: 100%;
  z-index: 9999;
}


.fullscreen-modal .modal-dialog {
  margin:0;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid rgba(208, 220, 226, 0.6);

  h1 {
    margin-top: .5em;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    color: #1F2432;
  }
}

.flex-1{
  flex: 1;
}

.settings-menu {
  padding: 1em;

  .material-icons{
    color: rgba(0, 34, 80, 0.7);
    font-size: 10px;
    padding-right: .5em;
  }

  .material-icons.error-icon{
    color: #DB0037;
    font-size: 18px;
    padding-left: .5em;
    font-size: 21px!important;
  }

  ul {
    padding-inline-start: 0;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      width: 100%;

      color: #1F2432;
      font-family: Open Sans;
      font-size: 14px;
      margin-bottom: 21px;

      ul {
        padding-inline-start: 0;
        width: 100%;

        .list-section-toggle {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .list-section-toggle-text {
            display: flex;
            align-items: center;
          }
        }
        li {
          width: 100%;
          padding-left: 2em;
        }
      }
    }
  }

  .menu-section {
    border-bottom: 1px solid rgba(208, 220, 226, 0.6);
    margin-bottom: 11px;

    h3 {
      color: #828282;
      font-weight: 600;
      font-size: 11px;
      font-style: normal;
      margin-bottom: 11px;
    }
  }
  .menu-section:last-child{
    border-bottom: none;
  }
}

.back-button,
li{
  cursor: pointer;
  user-select: none;
}
