<!--<div class="d-flex mb-6">
  <div class="form-check d-flex justify-content-center">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="inbox-item-checkbox-all"
      (change)="onSelect($event)"
    />
    <label for="inbox-item-checkbox-all" class="text-secondary"
      >Select All</label
    >
  </div>

  <div class="text-left d-flex ml-auto">
    <button class="btn btn-icon btn-clean btn-lg mr-1 delete-action"
      *ngIf="withRestore" [ngClass]="{ 'active-action': deleteEnabled }"
      (click)="onRestore()">
      <span
        [inlineSVG]="'./assets/media/svg/icons/Navigation/Exchange.svg'"
        cacheSVG="true"
        class="svg-icon svg-icon-xl svg-icon-primary"
      ></span>
    </button>

    <button class="btn btn-icon btn-clean btn-lg mr-1 delete-action" [ngClass]="{ 'active-action': deleteEnabled }"
      (click)="onDelete()">
      <span
        [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
        cacheSVG="true"
        class="svg-icon svg-icon-xl svg-icon-primary"
      ></span>
    </button>
  </div>
</div>
-->
