.transparent-card {
  margin: 0 -2.5rem;
  height: calc(100% + 2.5rem);
}

.next-button-color {
  background-color: rgba(0, 34, 80, 0.7);
}
.lock-icon {
  position: absolute;
  top: 18px;
  left: 7px;
}

input[type='password'] {
  text-indent: 19px;
  height: 40px;
}
.btn-link {
  padding-left: 0px;
}
.btn-link h3 {
  text-transform: inherit;
}
.val-icon {
  position: relative;
  top: 5px;
}

.password-val-ul {
  width: 100%;
  padding-left: 0;
  line-height: 23px;
  li {
    list-style: none;
    text-align: left;
  }
}
