<div class="transparent-card">
  <div class="d-flex flex-column align-items-center text-center h-100">
    <div class="py-0 px-10 d-flex flex-column">
      <button
        class="btn btn-link d-flex justify-content-start"
        routerLink="/message-center"
      >
        <h3 class="text-secondary">
          <i class="bi bi-arrow-left"></i>
          Back to Inbox
        </h3>
      </button>

      <h1 class="mb-9" style="font-weight: 600">Create a password</h1>

      <h3
        class="mb-6 text-secondary"
        style="opacity: 0.7; text-transform: inherit"
      >
        Please take a moment to crate password for your account.
      </h3>
      <form [formGroup]="form" class="w-100" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3 w-100">
          <input
            type="password"
            class="form-control border-right-0"
            id="password-input"
            placeholder="Password"
            formControlName="password"
            required
          />
          <i class="fa fa-lock fa-fw lock-icon"></i>
          <div class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="fa fa-eye"></i>
            </div>
          </div>
          <ul class="password-val-ul mt-3">
            <li
              [ngStyle]="{
                color:
                  form.controls['password'].hasError('hasUpperLower') ||
                  form.controls['password'].hasError('required')
                    ? '#D96767'
                    : '#5aa55a'
              }"
            >
              <span class="material-icons val-icon">
                {{
                  form.controls['password'].hasError('hasUpperLower') ||
                  form.controls['password'].hasError('required')
                    ? 'close'
                    : 'done'
                }}
              </span>

              Include both lower & upper case characters.
            </li>
            <li
              [ngStyle]="{
                color:
                  form.controls['password'].hasError('hasNumber') ||
                  form.controls['password'].hasError('required')
                    ? '#D96767'
                    : '#5aa55a'
              }"
            >
              <span class="material-icons val-icon">
                {{
                  form.controls['password'].hasError('hasNumber') ||
                  form.controls['password'].hasError('required')
                    ? 'close'
                    : 'done'
                }}
              </span>
              Include at least one number or symbol.
            </li>
            <li
              [ngStyle]="{
                color:
                  form.controls['password'].hasError('minlength') ||
                  form.controls['password'].hasError('required')
                    ? '#D96767'
                    : '#5aa55a'
              }"
            >
              <span class="material-icons val-icon">
                {{
                  form.controls['password'].hasError('minlength') ||
                  form.controls['password'].hasError('required')
                    ? 'close'
                    : 'done'
                }}
              </span>
              Be at least 8 characters long.
            </li>
          </ul>
        </div>

        <div class="input-group mb-10 w-100">
          <input
            type="password"
            class="form-control border-right-0"
            id="password-confirm-input"
            placeholder="Re-enter password"
            formControlName="passwordConfirm"
          />
          <i class="fa fa-lock fa-fw lock-icon"></i>
          <div class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="fa fa-eye"></i>
            </div>
          </div>

          <ul class="password-val-ul mt-3">
            <li
              style="color: #d96767"
              *ngIf="
                form.controls['passwordConfirm'].hasError('NoPassswordMatch') ||
                form.controls['passwordConfirm'].hasError('required')
              "
            >
              <span class="material-icons val-icon"> close </span>

              Password do not match
            </li>
          </ul>
        </div>

        <button
          [disabled]="!this.form.valid"
          class="btn btn-primary btn-block-xs-only mb-6 text-uppercase"
        >
          Next
        </button>
      </form>
    </div>
  </div>
</div>
